*               text=auto
.gitattributes  text    eol=lf

*.py    text    eol=lf
*.mako  text    eol=lf

*.yaml  text    eol=lf
*.yml   text    eol=lf
*.ini   text    eol=lf
*.toml  text    eol=lf
Dockerfile  text    eol=lf
.dockerignore   text    eol=lf

*.env.example   text    eol=lf
*.md    text    eol=lf
*.txt   text    eol=lf

*.sh    text    eol=lf
